.Content_container
    overflow-y: scroll
    height: 100%
    width: 100%
    padding: 1rem

    .Content_Inner
        display: flex
        flex-wrap: wrap
        gap: 1.6rem

.product_container
    img

.product_details
    