


.Search_Container1
    background: rgb(255, 255, 255)
    max-width: 36rem
   
    display: flex
    align-items: center
    border-radius: 1rem
    justify-content: space-between
    margin: 0 auto
    
    input
        border: none
        outline: none
        margin: 1rem 2rem
        font-size: 1.2rem
    span
        font-size: 1.2rem
        margin: 1rem 2rem
        cursor: pointer
        color: rgb(0, 0, 0)
        &:hover
            color: rgb(0, 0, 0)
            text-decoration: underline